<!doctype html>
<meta charset="utf-8">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Entusiastas venezolanos del lenguaje de
                                      programación python y todas sus hierbas derivadas.">
    <meta name="author" content="Manuel Márquez">
<!-- 
<link rel="stylesheet" href="{{ '/static/style.css'|url }}"> -->

    <link href="{{'/css/bootstrap.min.css'|url}}" rel="stylesheet">
    <link href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{{'/css/bootstrap-image-gallery.min.css'|url}}">
    <link href="{{'/css/style.css'|url}}" rel="stylesheet">
    <link href="{{'/css/font-awesome.min.css'|url}}" rel="stylesheet">
    <link href="{{'/css/font-mfizz.css'|url}}" rel="stylesheet">    
    <link href="{{'/css/avatar-snippet.css'|url}}" rel="stylesheet">

    <title>{% block title %}Bienvenido{% endblock %} — Python Venezuela</title>

<head/>
<body>


    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">pyve</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="{{'/python/'|url}}" class="btn btn-theme-navbar">Python</a></li>
            <li><a href="{{'/comunidad/'|url}}" class="btn btn-theme-navbar">Comunidad</a></li>
            <li class="dropdown">  <!-- start of 'Eventos' -->
              <a href="#" class="dropdown-toggle btn btn-theme-navbar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eventos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{'/eventos/pytatuy-2016/'|url}}">PyTatuy 2016</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://pyve.github.io/eventos/pytatuy2013/index.html" target="old">PyTatuy 2013</a></li>
                <li><a href="http://pyve.github.io/eventos/pyvemaracay2013/index.html" target="old">PyDay Maracay 2013</a></li>
              </ul>
            </li>  <!-- end of 'Eventos' -->

            <li><a href="{{'/fundacion/'|url}}" class="btn btn-theme-navbar">Fundación PyVE</a></li>
            <li><a href="{{'/contactos/'|url}}" class="active btn btn-theme-navbar">Contacto</a></li>
          </ul>
          
          <div class="navbar-logo"><img title="pyve Logo" src="{{'/img/pyve-logo.png'|url}}" width="90" /></div>
        </div><!--/.nav-collapse -->
      </div>
    </nav> 

    {% block body %}{% endblock %}

   <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h4>Redes Sociales</h4>
            <div class="hline-w"></div>
            <p>
              Tweets acerca de pyve <a href="https://twitter.com/pythonve">@pythonve</a><br/>
              Tweets acerca de las pycon <a href="http://twitter.com/pyconve/">@pyconve</a><br/>
              Buscar por <a href="https://twitter.com/search?q=%23pyve">#pyve</a> puede ser más rápido.<br/>
              Para los que prefieren <a href="https://plus.google.com/101468780661156563423">Google+</a><br/>
            </p>
          </div>
          <div class="col-lg-3">
            <h4>Chats y Correos</h4>
            <div class="hline-w"></div>
            <p>
              Nuestra lista de correos en <a href="https://groups.google.com/forum/#!forum/python-venezuela">Google Groups</a><br/>
              El <a href="https://pyve.slack.com/">slack</a> de pyve<br/>
              Autoinvitate a nuestro <a href="https://pyveslack.herokuapp.com/">slack</a><br/>
              Al <a href="https://telegram.me/joinchat/BG6gzwGzSvRriv6QHXp3Mg">Telegram</a> si la cosa es ligth<br/>
            </p>
          </div>
          <div class="col-lg-3">
            <h4>Repositorios</h4>
            <div class="hline-w"></div>
            <p>
              Colabora con nosotros en <a href="http://github.com/pyve/">GitHub</a><br/>
              <a href="https://github.com/pyve/awesome-pyve">Recursos útiles</a> compartidos por pyve<br/>
              Algunos <a href="https://github.com/pyve/documentos">documentos</a> sobre nuestro operar<br/>
              <a href="https://github.com/pyve/materiales-eventos">Materiales de los eventos</a> realizados<br/>
            </p>
          </div>
          <div class="col-lg-3">
            <h4>Reclutamiento</h4>
            <div class="hline-w"></div>
            <p>
              ¿Interesado(a) en hacer una <a href="https://github.com/pyve/documentos/blob/master/como-hacer-ofertas-de-empleo.md">oferta de trabajo</a> en pyve ?<br/>
              pyve en <a href="http://www.linkedin.com/groups/Python-Venezuela-4613465">LinkedIn</a><br/>
              <a href="http://pyve.github.io/empleos/">Cartelera de Empleos</a> (Beta)<br/>
            </p>
          </div>
        </div>
      </div>
    </footer>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{'/js/bootstrap.min.js'|url}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{'/js/ie10-viewport-bug-workaround.js'|url}}"></script> 

    
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{{'/js/bootstrap-image-gallery.min.js'|url}}"></script>
    <script src="{{'/js/avatar-snippet.js'|url}}"></script>

    {% block addon %}{% endblock %}
</body>
